<h4>Overall Build Results for: {{build_name}}</h4>
{{#if admin}}
<p class="clear-fix">
  <a class="btn btn-outline-info btn-sm" data-toggle="collapse" href="#collapseExample" role="button">
    Get Token
  </a>
  <button type="button" class="btn btn-outline-danger btn-sm float-right" data-toggle="modal" data-target="#confirmDeleteModal">
    Delete Build
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <span id="token">{{token}}</span>
  </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{build_name}}?</p>
        <p class="alert alert-danger">This action cannot be reversed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form method="POST" action="/builds/{{build_id}}?_method=DELETE">
          <button type="submit" class="btn btn-danger">Delete Build</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/if}}

<div class="row">
  <div class="chart-container col-sm">
    <canvas id="timeChartElement"></canvas>
  </div>
  <div class="chat-container col-sm">
    <canvas id="resultChartElement"></canvas>
  </div>
</div>
<hr/>
<h4>Individual Tests</h4>
<table class="table w-auto">
  <tr>
    <th>RSpec ID</th>
    <th>Description</th>
  </tr>
  {{#each tests}}
    <tr>
      <td>{{rspecID}}</td>
      <td><a href="{{{trimPath ../base_url}}}/tests/{{_id}}">{{description}}</a></td>
    </tr>
  {{/each}}
</table>

<script type="text/javascript">
  var timeChartTitle = "Total Build Time";
  var resultsChartTitle = "Overall Build Results";
  var JSONdata = decodeURIComponent("{{{results}}}");
  var data = JSON.parse(JSONdata);
</script>
<script src="/js/charts.js"></script>


