<h4>Overall Build Results for: {{build_name}}</h4>
{{#if admin}}
<p>
  <a class="btn btn-outline-info btn-sm" data-toggle="collapse" href="#collapseExample" role="button">
    Get Token
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <span id="token">{{token}}</span>
  </div>
</div>

<div class="row">
  <div class="chart-container col-sm">
    <canvas id="timeChartElement"></canvas>
  </div>
  <div class="chat-container col-sm">
    <canvas id="resultChartElement"></canvas>
  </div>
</div>
{{/if}}
<hr/>
<h4>Individual Tests</h4>
<table class="table w-auto">
  <tr>
    <th>RSpec ID</th>
    <th>Description</th>
  </tr>
  {{#each tests}}
    <tr>
      <td>{{rspecID}}</td>
      <td><a href="{{{trimPath ../base_url}}}/tests/{{_id}}">{{description}}</a></td>
    </tr>
  {{/each}}
</table>

<script type="text/javascript">
  var timeChartTitle = "Total Build Time";
  var resultsChartTitle = "Overall Build Results";
  var JSONdata = decodeURIComponent("{{{results}}}");
  var data = JSON.parse(JSONdata);
</script>
<script src="/js/charts.js"></script>


